{%- set typename = name|escape_toplevel %}
{%- set value = typename + suffix %}

{%- if error_domain %}
interface {{ typename }} extends GLib.Error {}

interface {{ value }} {
    readonly $gtype: GObject.GType<{{ typename }}>

    [Symbol.hasInstance](instance: unknown): instance is {{ typename }}

    {%- for member in members %}
    {{ member.jsdoc|indent(4) if member.jsdoc }}
    readonly "{{ member.name }}": {{ member.value }}
    {%- endfor %}
}
{%- else %}
interface {{ value }} {
    readonly $gtype: GObject.GType<{{ typename }}>

    {%- for member in members %}
    {{ member.jsdoc|indent(4) }}
    readonly "{{ member.name }}": {{ member.value }}
    {%- endfor %}
}
type {{ typename }} = {{ value }}[Exclude<keyof {{ value }}, "$gtype">]
{%- endif %}

interface $Exports {
    {{ jsdoc|indent(4) if jsdoc }}
    {{ name|escape_member }}: {{ value }}
    {%- for fn in functions %}
    {{ fn }}
    {%- endfor %}
}
