{%- set enum = name|escape_toplevel %}
{%- set iface = enum + suffix %}

{%- if error_domain %}
interface {{ enum }} extends GLib.Error {}

interface {{ iface }} {
    readonly $gtype: GObject.GType<{{ enum }}>

    [Symbol.hasInstance](instance: unknown): instance is {{ enum }}

    {%- for member in members %}
    {{ member.jsdoc|indent(4) if member.jsdoc }}
    readonly "{{ member.name }}": {{ member.value }}
    {%- endfor %}
}
{%- else %}
interface {{ iface }} {
    readonly $gtype: GObject.GType<{{ enum }}>

    {%- for member in members %}
    {{ member.jsdoc|indent(4) }}
    readonly "{{ member.name }}": {{ member.value }}
    {%- endfor %}
}
type {{ enum }} = {{ iface }}[Exclude<keyof {{ iface }}, "$gtype">]
{%- endif %}

interface $Exports {
    {{ jsdoc|indent(4) if jsdoc }}
    {{ name|escape_member }}: {{ iface }}
    {%- for fn in functions %}
    {{ fn }}
    {%- endfor %}
}
