{%- macro comma_list(extends, suffix) -%}
{%- if extends|length > 0 -%}
{% for e in extends %}{{ e|escape_toplevel }}{{ suffix }}{% if not loop.last %}, {% endif %}{%- endfor %}
{%- endif %}
{%- endmacro -%}

{%- macro extend_list(extends, suffix) -%}
{%- if extends|length > 0 -%}extends {{ comma_list(extends, suffix) }}{%- endif %}
{%- endmacro -%}

{%- set rw = properties
    |selectattr('readable')
    |selectattr('writable')
    |rejectattr("construct_only")
    |unique
%}

{%- set read_only = properties|rejectattr("writable") %}
{%- set write_only = properties|rejectattr("readable")|rejectattr("construct_only") %}
{%- set construct_only = properties|selectattr("construct_only") -%}


    interface SignalSignatures {{ extend_list(extends, ".SignalSignatures")}} {
        {%- for signal in signals %}
        {{ signal|indent(8) }}
        {%- endfor %}
    }

    interface ReadWriteProperties {{ extend_list(extends, ".ReadWriteProperties")}} {
        {%- for prop in rw %}
        "{{ prop.name }}": {{ prop.type }}
        {%- endfor %}
    }

    interface ReadableProperties extends ReadWriteProperties
    {%- if extends|length > 0 %}, {% endif %}{{ comma_list(extends, ".ReadableProperties")}} {
        {%- for prop in read_only %}
        "{{ prop.name }}": {{ prop.type }}
        {%- endfor %}
    }

    interface WritableProperties extends ReadWriteProperties
    {%- if extends|length > 0 %}, {% endif %}{{ comma_list(extends, ".WritableProperties")}} {
        {%- for prop in write_only %}
        "{{ prop.name }}": {{ prop.type }}
        {%- endfor %}
    }

    interface ConstructOnlyProperties {{ extend_list(extends, ".ConstructOnlyProperties")}} {
        {%- for prop in construct_only %}
        "{{ prop.name }}": {{ prop.type }}
        {%- endfor %}
    }
